.container {
	max-width: 1170px;
	margin:0 auto;
}
.border-box {
    height: 20px;
    margin: 0 45px;
}
.wrapper {
	align-items: center;
	border:2px solid #EAEFF0;
	border-top: 0;

}
.flex {
	display: flex;
}
.logo {
	width: 150px;
	margin-left: 15px;
	top: 34px;
    position: relative;
}
.right-block {
	width: 100%;
	justify-content: flex-end;
}
.nav a{
	text-decoration: none;
	padding: 0 18px;
	color: #A3ACB3;
	font-family: "roboto"
}
.description {
	text-align: center;
	border-bottom: 2px solid #EAEFF0;
	padding: 45px 0;
	vertical-align: middle;
	color: #677A87;
	font-size: 25px;
	font-family: "roboto";
}
.banner {
	background-color: #F2F4F5;
	margin-top: 50px;
	align-items: center;
}
.img {
	width: 1500px;
}
.ban-text {
	width: 250px;
	font-size: 30px;
	color: #677A87;
}

