.container {
	max-width: 1280px;
	margin:0 auto;
}
.border-box {
    height: 20px;
    margin: 0 45px;
}
.wrapper {
	align-items: center;
	border:2px solid #EAEFF0;
	border-top: 0;
}
.flex {
	display: flex;
}
.logo {
	width: 150px;
	margin-left: 15px;
	top: 25px;
    position: relative;
}
.right-block {
	width: 100%;
	justify-content: space-between;
}
.burger {
	cursor: pointer;
	margin-right: 15px;
	display: none;
	width: 60px;
	height: 60px;
	position: relative;
	border: 2px solid #00AF9C;
	background-color: #00AF9C;
}
.burger .line:first-child {
	top: 30%;
}
.burger  .line:last-child  {
	top: 70%;
}

.burger div {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
    width: 45px;
    height: 5px;
    background-color: white;
	transition: 0.3s linear;
}
.burger.active .line:first-child {
	top: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);


}
.burger.active .line:last-child {
	top: 50%;
	transform: translate(-50%, -50%) rotate(45deg);

}
.burger.active .line:nth-child(2) {
	opacity: 0;
}

.nav a{
	text-decoration: none;
	padding: 0 18px;
	color: #A3ACB3;
	font-family: "roboto"
}
@media (max-width: 1025px){
	.nav {
		display: none;
	}
	.burger {
		display: inline-block;
		position: relative;
	}
	.container {
		max-width: 800px;
	}
	.banner {
		flex-direction: column;
	}
	.container.flex.info {
		flex-wrap: wrap;
	}
	.info article {
		width: 100%;
		margin: 1% auto;
	}

}
.description {
	text-align: center;
	border-bottom: 2px solid #EAEFF0;
	padding: 45px 0;
	vertical-align: middle;
	color: #677A87;
	font-size: 25px;
	font-family: "roboto";
}
.banner {
	background-color: #F2F4F5;
	margin-top: 50px;
	align-items: center;

}
.banner-box {
	margin-top: 24px;
}
.img {
	width: 680px;
}
.ban-text {
	width: 250px;
	font-size: 30px;
	color: #677A87;
}
.right {
	flex-direction: column;
	width: 100%;
	margin-left: 77px;

}
.cms {
	border-bottom: 1px dotted;
}
.tenten {
	width: 100%;
}
.view  {
	margin-top: 43px;
}
.view a {
	background-color: #00AF9C;
	text-align: center;
	text-decoration: none;
	color: white;
}

.container.flex.info {
	
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
}
article {
	background-color: #F2F4F5;
	text-align: center;
	width: 30%;
}
article .title {
	padding: 20px;
	color: #00AF9C;
	font-size: 30px;
}
article p {
	margin: 0 20px;
	font-size: 24px;
	color: #576170;
}